/data
/doc
/lib/jython/cachedir
/nbproject/private
/build
/dist
/test
/scripts/charmm-ti/setup.py
.Rproj.user
.directory
.RData
.Rhistory
*.xlsx
benzonitrile/
certs/
*.csv
*.png
figures/
*.Rproj
forKrystel/
*.inp
*.pdf
lambda_mod/
mackerell/
new_chgui/
*.par
nma_mtp/
nma_new/
*.prm
pc_only/
scripts/charmm-ti/nb-configuration.xml
*.rtf
db/*.pdf
*.ods
scripts/nbproject/private/

.gradle/
.idea/
*/fitting-*/build/
fitting/build
fitting/logs
fitting/data/
