*.class
/scripts/*.mod
/scripts/fieldcomp
/bin
/dist
/nbdist
/old
/nbproject/private/
/build/
/data/molecules/
/data
/lib/jython/cachedir/
/test/*.log
/doc/charmm_doc
test/ethanol.psf
test/ethanol.rtf
test/test_coordinates.xyz.inp
/html
/latex
