/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 0px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.feedbackPanelERROR {
  color: red;
}

.preformatted {
  font-family: monospace;
}

/* TAB PANEL STYLES */

div.tabpanel div.tab-row{
  float:left;
  width:100%;
  background:#DAE0D2 url("tabs/bg.gif") repeat-x bottom;
  line-height:normal;
}

div.tabpanel div.tab-row ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
}

div.tabpanel div.tab-row li {
  float:left;
  background:url("tabs/left.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
}

div.tabpanel div.tab-row a {
  display:block;
  background:url("tabs/right.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  white-space:nowrap;
  color:#eee;
}

div.tab-panel {
  clear: left;
}

div.tabpanel div.tab-row a:hover {
  color:#fff;
}

div.tabpanel div.tab-row li.selected {
  background-image:url("tabs/left_on.gif");
}

div.tabpanel div.tab-row li.selected a {
  background-image:url("tabs/right_on.gif");
  color:#333;
  padding-bottom:5px;
}

